@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/archivonarrow/v24/tss5ApVBdCYD5Q7hcxTE1ArZ0Zz8oY2KRmwvKhhvLFGKpA.ttf) format('truetype');
}
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2hsY.ttf) format('truetype');
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v23/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSoHTQ.ttf) format('truetype');
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  color: #71dbdb;
  text-decoration: none;
  font-size: 2em;
  font-family: 'Archivo Narrow', sans-serif;
  font-family: 'VT323', monospace;
  text-shadow: 1px 2px #000000, 0 0 1em #00ffb3, 0 0 0.2em #9595da;
  margin: 1em;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #708090;
  font-family: 'Dancing Script', cursive;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 2em 3em;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body main .row .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}
body main .row .column #showWeek1,
body main .row .column #showWeek2,
body main .row .column #showWeek3,
body main .row .column #showWeek4 {
  background-color: aliceblue;
  background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
  padding: 1em 2em;
}
body main .row .column #hideWeek1,
body main .row .column #hideWeek2,
body main .row .column #hideWeek3,
body main .row .column #hideWeek4 {
  display: none;
}
