body {
    display: flex;
    flex-direction: column;
    width: 100%; 
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(100, 130, 230, 0.5), rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.0));

}

nav {
    display: flex;
    width: 1000px;
    height: 100px;
    justify-content: center;
    border: 3px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.nav_container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 80px;
}

.nav_logo {
    display: flex; 
    width: 300px;
    height: 80px;
    align-items: center;
}

h1 {
    font-size: 45px;
    margin-left: 95px;
    color: rgb(56, 53, 53)
}

.nav_bar {
    display: flex;; 
    width: 500px;
    height: 80px;
    align-items: center;
    margin-left: 30px;
    margin-top: 5px;
}

#nav_search {
    display: flex-box;
    width: 400px;
    height: 32px;
    border-radius: 10px;
    font-size: 20px;
}


.nav_login_container {
    display: flex; 
    width: 200px;
    height: 100px;
    align-items: center;

}

#login {
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
}





main {
    display: flex;
    flex-direction: row;
    width: 850px;
    height: 1000px;
    border: 1px solid red;
    margin-top: 100px;
}


.left_column {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 100%;
    border: 1px solid blue;
    align-items: center;
}

.left_container {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 200px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}







.right_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 100%;
    border: 1px solid yellow;
}

.right_container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

#right_intro {
    display: flex;
    width: 300px;
    height: 75px;
    align-items: center;
    justify-content: center;
}