body {
    display: flex;
    flex-direction: column;
    width: 100%; 
    align-items: center;
}

nav {
    display: flex;
}

.nav_container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 100px;
    background-color: wheat;
}

.nav_logo {
    display: flex; 
    width: 300px;
    height: 100px;
    background-color: aqua;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 45px;
}

.nav_bar {
    display: flex; 
    width: 500px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgb(68, 97, 97);
}

#nav_search {
    display: flex-box;
    width: 400px;
    height: 30px;
}


.nav_login {
    display: flex; 
    width: 200px;
    height: 100px;
    background-color: rgb(48, 184, 66);
}