.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body button {
  background-color: #44448b;
  color: #ffffff;
}
