body {
    display: flex;
    flex-direction: column;
    width: 100%; 
    align-items: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.779);  
    display: flex;
    flex-direction: row;
    height: 65px;
    width: 1000px;
}

.profile_logo_container {
    display: flex;
    width: 20%;
    justify-content: right;
}

#profile_logo {
    display: flex;
    align-items: center;
}

h1 {
    color: rgba(238, 228, 157, 0.9);
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.navigation_container {
    display: flex;
    width: 50%;
}

.navigation_control_box {
    display: flex;
    width: 100%;
}

#navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 0;

}

a {
    text-decoration: none;
    margin-left: 35px;
    padding: 0;
    color: rgba(238, 228, 157, 0.9);
    font-size: 20px;
}

ul {
    list-style-type: none;
}

.log_out_container {
    display: flex;    
    width: 30%;
}

#log_out {
    display: flex;
    align-items: center;
}

#log_out_button {
    display: flex;
    background-color: #565736; 
    border: none;
    color: rgb(238, 234, 28);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

main {
    display: flex;
    width: 1000px;
    height: 100%;
    justify-content: center;
}

.main_container {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 100%;
    justify-content: center;    
}

.left_column {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 100%;
    align-items: center;
    margin-right: 50px;
}

.left_container {
    border: 5px solid rgba(17, 18, 19, 0.627);
    display: flex;
    flex-direction: column;
    width: 450px;
    /* height: 450px; */
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
}

#profile_picture_container {
    display: flex;
    flex-direction: column;
    width: 450px;
}

#img_jane {
    width: 160px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 90px;
    
}

#profile_name {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.779);
}

#name {    
    font-size: 25px;
    color: rgba(238, 228, 157, 0.9);
    text-shadow: 5px;
    margin: 0;
    padding-left: 45px;
    padding-top: 5px;
    
}


#profile_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile_location_icon {
    display: flex;
    margin-left: 10px;
    margin-right: 15px;
}


#img_map_marker {
    width: 20px;
    height: 30px;
}

#profile_container {
    display: flex;
}

#img_gear {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

#profile_description {
    display: flex;
    margin-left: 45px;
    margin-right: 50px;
}

#profile_edit {
    display: flex;
    height: 40px;
    align-items: center;
}

#edit {
    padding:0;
    margin:0;
    color:black;
    font-size: 15px;
}


.education_box {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.779);    
}

.education_font_box {
    display: flex;
    width: 100%;
    padding-left: 45px;
    padding-top: 10px;
}

#education_font {
    font-size: 25px;
    color: rgba(238, 228, 157, 0.9);
    text-shadow: 5px;
    margin: 0;
    padding: 0;
}

.right_column {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    align-items: center;
}

.right_container {
    border: 5px solid rgba(17, 18, 19, 0.627);
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}



.connection_request_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.779); 
}


.connection_link {
    display: flex;
    flex-direction: row;
    width: 40px;
    background-color: rgb(146, 138, 94);
    margin-right: 10px;
    margin-left: 10px;
}

.connection_request {
    display: flex;
    flex-direction: row;
}

.your_connections {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.779); 
}

.tbox {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-items: center;
    padding:10px;
}

#img_ppl {
    border-radius: 90px;
    width: 50px;
}


.tbox_img {
    display:flex;
    flex-direction: row;
    width: 80px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.tbox_name {
    display:flex;
    flex-direction: row;
    width: 100px;
    height: 50px;
    padding-left: 10px;
    align-items: center;
}

#t_name {
    font-size: 20px;
}
