body {
    display: flex;
    flex-direction: column;
    width: 100%; 
    align-items: center;
}

nav {
    border: 1px solid red;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 100%;
}

.profile_logo_container {
    border: 1px solid blue;
    display: flex;
    width: 20%;
    justify-content:right;
}

#profile_logo {
    display: flex;
    border: 1px solid green;
    align-items: center;
}

h1 {
    color: white;
    font-size:35px;
}


.navigation_container {
    border: 1px solid black;
    display: flex;
    width: 50%;
}

.navigation_control_box {
    display: flex;
    width: 100%;
}

#navigation {
    display: flex;
    flex-direction: row;
    border:1px solid red;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 0;

}

a {
    text-decoration: none;
    margin: 25px;
    color: white;
    font-size: 18px;
}
ul {
    list-style-type: none;
}



.log_out_container {
    border: 1px solid darkmagenta;
    display: flex;    
    width: 30%;
}

#log_out {
    border: 1px solid pink;
    display: flex;
    align-items: center;
}

#log_out_button {
    display: flex;
    background-color: #565736; 
    border: none;
    color: rgb(238, 234, 28);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}







main {
    border: 1px solid green;
    display: flex;
    width: 100%;
    height: 1000px;
    justify-content: center;
}

.main_container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    
}

.left_column {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.left_container {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px


}







.right_container {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}